<style>

  .featured-logo__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 20px;
    gap: 15px;
    width: 100%;
  }

  .featured-logo__image {
    margin: 0 auto;
    width: 60px;
    height: 60px;
  }

  .featured-logo__image img {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
  }

  .featured-logo__text {
    margin-block: 10px 30px;
    font-size: 14px;
    text-transform: uppercase;
    color: #121212;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    .featured-logo__container {
      grid-template-columns: repeat(5, 1fr);
    }
  }

</style>

<div class="featured-logo__container">
  {% for block in section.blocks %}
    <div class="featured-logo__inner">
      <div class="featured-logo__image">

        {% if block.settings.card_image != blank %}
          <img
            src="{{ block.settings.card_image | image_url: width: block.settings.card_image.width }}"
            width="60"
            height="60"
            loading="lazy"
            alt="{{ block.settings.text }}">
        {% else %}
          {{ 'product-1' | placeholder_svg_tag }}
        {% endif %}
      </div>
      {% if block.settings.text != blank %}
        <p class="featured-logo__text">
          {{ block.settings.text }}
        </p>
      {% endif %}
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Featured Logos",
    "tag": "section",
    "class": "featured-logo",

    "blocks": [
      {
        "type": "logo",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "card_image",
            "label": "Logo"
          }, {
            "type": "text",
            "id": "text",
            "label": "Description",
            "default": "Logo text"
          }
        ]
      }
    ],

    "presets": [
      {
        "name": "Featured Logos",
        "blocks": [
          {
            "type": "logo"
          },
          {
            "type": "logo"
          },
          {
            "type": "logo"
          },
          {
            "type": "logo"
          }, {
            "type": "logo"
          }
        ]
      }
    ]
  }
{% endschema %}