<style>
  .marquee__container {
    background-color: #ffffff;
    overflow: hidden;
  }

  .marquee__header {
    text-align: center;
    margin-bottom: 26px;
  }

  .marquee__title {
    color: {{ section.settings.heading_color }};
    font-size: 12.8px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
  }

  .marquee__wrapper {
    display: flex;
    align-items: center;
    gap: 100px;
    animation: marquee-slide 60s linear infinite;
  }

  .marquee__items {
    height: 52px;
    width: 96px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  .marquee__icons {
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }

  .marquee-placeholder__icons {
    height: 130px;
    width: 130px;
  }

  .marquee__icons:hover {
    filter: none;
  }

  @media only screen and (min-width: 768px) {
    .marquee__title {
      font-size: 16px;
    }

    .marquee__items {
      height: 65px;
      width: 120px;
    }
  }

  @keyframes marquee-slide {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }
</style>

<div class="marquee__container">
  <div class="marquee__header">
    <h2 class="marquee__title">{{ section.settings.heading }}</h2>
  </div>
  <div class="marquee__wrapper">
    {% for block in section.blocks %}
      {% if block.settings.logo != blank %}
        <div class="marquee__items">
          <img
            class="marquee__icons"
            src="{{ block.settings.logo |  image_url: width:  block.settings.logo.width, height: block.settings.logo.height  }}"
            loading="lazy">
        </div>
      {% else %}
        <div class="marquee__items">
          {{ 'product-1' | placeholder_svg_tag: "marquee-placeholder__icons" }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Marquee",
    "tag": "section",
    "class": "marquee",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Title",
        "default": "Find us in"
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "Title Text Color",
        "default": "#333333"
      }
    ],
    "blocks": [
      {
        "type": "logo",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          }
        ]
      }
    ],
    "max_blocks": 10,
    "presets": [
      {
        "name": "Marquee",
        "blocks": [
          {
            "type": "logo"
          },
          {
            "type": "logo"
          },
          {
            "type": "logo"
          },
          {
            "type": "logo"
          },
          {
            "type": "logo"
          },
          {
            "type": "logo"
          },
          {
            "type": "logo"
          },
          {
            "type": "logo"
          }
        ]
      }
    ]
  }
{% endschema %}